body {
	font-family: Courier, Serif;
	color: rgb(0, 0, 75);
	position: absolute;
	width: 850px;
	left: 50%;
	transform: translateX(-50%);
}

#header {
	/*left: 50%;/**/
	/*margin-left: -400px;*/
	margin-top: 60px;
}

#midhead {
	margin-top: 45px;
}

#editorial {
	/*font-family: Helvetica;*/
	margin-top: 100px;
	font-size: 15px;
	font-weight: 700;
}

#stories {
	margin-top: 90px;
}

.featuredStory, .featuredIllustration {
	width: 250px;
	float: left;
	margin-right: 50px;
}

.featuredStory {
	height: 430px;
}

.featuredTitle {
	font-size: 16px;
	font-weight: 700;
}

.featuredProducer {
	margin-top: 2px;
	font-size: 15px;
	font-family: Helvetica;
	font-weight: 300;
}

.featuredDescription {
	margin-top: 10px;
	font-size: 13px;
	font-family: Helvetica;
	font-weight: 300;
}



.story, .illustration {
	width: 181px;
	float: left;
	margin-right: 42px;
}

.story {
	height: 340px;
}

.title {
	font-size: 15px;
	font-weight: 700;
}

.producer {
	margin-top: 2px;
	font-size: 14px;
	font-family: Helvetica;
	font-weight: 300;
}

.description {
	margin-top: 10px;
	font-size: 12px;
	font-family: Helvetica;
	font-weight: 300;
}

.noRightMargin {
	margin-right: 0px;
}